<section class="container pt-5 pb-5" th:fragment="carrusel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade rounded-circle">
        <div class="carousel-inner">
            <div class="carousel-item  carousel_item active">
                <img src="/negenko/carrusel/carrusel01.jpg" class="d-block w-100" alt="...">
                <div class="content">
                    <div class="pt-2 d-flex justify-content-center carousel_topic animation-delay-2 hidden">
                        <div class="m-2">
                            <a th:href="@{/clientes}" class="btn btn-light text-gris-700 mt-2">Lista de Clientes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item  carousel_item">
                <img src="/negenko/carrusel/carrusel02.jpg" class="d-block w-100" alt="...">
                <div class="content">
                    <div class="pt-2 d-flex justify-content-center animation-delay-2 hidden">
                        <div class="m-2">
                            <a th:href="@{/compras}" class="btn btn-light text-gris-700 mt-2">Lista de Ventas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item  carousel_item">
                <img src="/negenko/carrusel/carrusel02.jpg" class="d-block w-100" alt="...">
                <div class="content">
                    <div class="pt-2 d-flex justify-content-center animation-delay-2 hidden">
                        <div class="m-2">
                            <a th:href="@{/productos}" class="btn btn-light text-gris-700 mt-2">Lista de Productos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span id="prev" class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span id="next" class="visually-hidden">Next</span>
        </button>
    </div>
</section>
